.comoJogarContent{
    width: 65vw;
    height: 100vh;
    position: relative;
    left: 22.5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}