.carta{
    display: flex;
    flex-direction: column;
    width: 10vw;
    text-align: center;
}

.carta p{
    opacity: 0;
    transform: scale(0,0);
    font-size: 15px;
}

.carta:hover{
    margin-top: 5vh;
    transform: scale(1.1, 1.1);
    transition: 100ms linear;
}
.carta:hover p{
    opacity: 100;
    position: relative;
    transform: scale(1,1);
}


@media (max-width: 800px) {
    .carta{
        display: flex;
        flex-direction: column;
        width: 50vw;
        text-align: center;
    }
    
    .carta p{
        opacity: 100;
        transform: scale(1,1);
        font-size: 15px;
    }
    
    .carta:hover{
        margin-top: 0vh;
        transform: scale(1, 1);
        transition: 100ms linear;
    }
    .carta:hover p{
        opacity: 100;
        position: relative;
        transform: scale(1,1);
    }
    
}