.NavBar{
    display: flex;
    justify-content: space-around;
    height: 6vh;
    background-color: red;
    align-items: center;
}

.NavBar img{
    height: 80%;
}

.NavList{
    list-style: none;
    display: flex;
}

.NavList li a{
    padding: 20px;
    text-decoration: none;
    font-weight:bold;
    color: white;
}

.li1:hover{
    transform: scale(1.1, 1.1);
    transition: 100ms linear;
}

.li2:hover{
    transform: scale(1.1, 1.1);
    transition: 100ms linear;
    
}

.li3:hover{
    transform: scale(1.1, 1.1);
    transition: 100ms linear;
}

.li4:hover{
    transform: scale(1.1, 1.1);
    transition: 100ms linear;
}