.regrasContent{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.penalidades{
    width: 60vw;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.cartasConjunto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}



.parteDasCartas{
    text-align: center;
}


